{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-2.2.4.js"
      integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
      crossorigin="anonymous"></script>
    <!-- jQuery Ajax form https://jquery-form.github.io/ -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    {% block style %}
    {% endblock %}
    {% block script %}
    {% endblock %}
</head>
<body>
    <div id="header">
        <span class="user">

        {% if request.user.is_authenticated %}
            안녕하세요 {{ request.user.username }}님!
            <a href="{% url 'dashboard' %}">대시보드가기 || </a>
            <a href="{% url "logout" %}">로그아웃</a>
        {% else %}
            <a href="{% url 'login' %}">로그인</a>
        {% endif %}
        </span>
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">×</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
