{% extends "info/info_base.html" %}

{% block title %} 교환요청 조회 {% endblock %}

{% block script %}
<script>
    $(function() {
        // Currently, ESM allows only one row to be sellected
        // so we apply the same restriction to the checkboxes
        $('input:checkbox').on('click', function() {
            $('input:checkbox').not(this).prop('checked', false);
        });

        $('#exchange').click(function(e){
            e.preventDefault();
            var oinfs = $("input:checked").parents("tr").find("input, select").serialize();
            var csrf = $("#confirm input[name='csrfmiddlewaretoken']").serialize();

            $.post({
                    url: "{% url 'info:exchange_confirm' %}",
                    data: oinfs + "&" + csrf,
                    success: function(result,status,xhr) {
                        if (result['status'] === "ok"){ alert("배송등록 성공\n" + result['msg']);
                            location.reload(); }
                        else { alert(result['msg']); location.reload(); }
                    },
            });
        });
    });
</script>
{% endblock %}

{% block buttons %}
<input type="submit" id="collect" style="cursor:pointer" value="교환수거처리(STOREFARM)"></input>
<input type="submit" id="exchange" style="cursor:pointer" value="교환품 발송"></input>
{% endblock %}


{% block custom_fields_label %}
<th style="color:blue">주문번호</th>
<th style="color:blue">교환상태</th>
<th style="color:blue">교환요청일</th>
<th style="color:blue">택배사 선택</th>
<th style="color:blue">송장번호</th>
{% endblock %}

{% block custom_fields_esm %}
<td>{{ entry.OrderNo }}</td>
<td>{{ entry.StatusName }}</td>
<td>{{ entry.ClaimRegDate }}</td>
<td>
    <select name="resendCompCode">
        <option value="1^대한통운택배">대한통운택배</option>
        <option value="H^한진택배">한진택배</option>
        <option value="6^우체국택배">우체국택배</option>
        <option value="5^롯데택배">롯데택배</option>
        <option value="&amp;^롯데국제특송">롯데국제특송</option>
        <option value="E^로젠택배">로젠택배</option>
        <option value="A^KG로지스">KG로지스</option>
        <option value="T^이노지스택배">이노지스택배</option>
        <option value="W^편의점택배(GS25)">편의점택배(GS25)</option>
        <option value="#^GTX로지스">GTX로지스</option>
    </select>
</td>
<td>
    <input type="text" name="invoiceNo" value="">
</td>
{% endblock %}

{% block custom_fields_storefarm %}
<td>{{ entry.PRODUCT_ORDER_ID }}</td>    {# different from OrderNo #}
<td>{{ entry.CLAIM_STATUS }}</td>
<td>{{ entry.CLAIM_REQUEST_OPERATION_YMDT_EXCHANGE }}</td>
<td>
    <select name="resendCompCode">
    </select>
</td>
<td>
    <input type="text" name="invoiceNo" value="">
</td>
{% endblock %}

{% comment %}
ESM
<select class="selectType01 native" id="resendCompCode" name="resendCompCode" style="width:253px;"><option value="D^CJ GLS택배">CJ GLS택배</option>
<option value="1^대한통운택배">대한통운택배</option>
<option value="H^한진택배">한진택배</option>
<option value="6^우체국택배">우체국택배</option>
<option value="5^롯데택배">롯데택배</option>
<option value="&amp;^롯데국제특송">롯데국제특송</option>
<option value="E^로젠택배">로젠택배</option>
<option value="A^KG로지스">KG로지스</option>
<option value="T^이노지스택배">이노지스택배</option>
<option value="W^편의점택배(GS25)">편의점택배(GS25)</option>
<option value="#^GTX로지스">GTX로지스</option>
<option value="Q^하나로로지스">하나로로지스</option>
<option value="V^일양로지스">일양로지스</option>
<option value="@^천일택배">천일택배</option>
<option value="U^대신택배">대신택배</option>
<option value="!^경동택배">경동택배</option>
<option value="%^합동택배">합동택배</option>
<option value="?^DHL">DHL</option>
<option value="|^FEDEX">FEDEX</option>
<option value="(^CJ국제특송">CJ국제특송</option>
<option value="X^한진정기화물">한진정기화물</option>
<option value="Y^OCSKOREA">OCSKOREA</option>
<option value="F^소포/등기">소포/등기</option>
<option value="0^일반우편">일반우편</option>
<option value="4^퀵서비스">퀵서비스</option>
<option value="0^화물배달">화물배달</option>
<option value="0^직접전달">직접전달</option>
<option value="0^기타발송">기타발송</option>
<option value="*^위니아물류">위니아물류</option>
<option value="~^EMS">EMS</option>
<option value="-^USPS">USPS</option>
<option value="<^UPS">UPS</option>
<option value=")^호남택배">호남택배</option>
<option value=">^GSMNTON">GSMNTON</option>
<option value="=^WarpEx">WarpEx</option>
<option value="[^성원글로벌">성원글로벌</option>
<option value="{^건영택배">건영택배</option>
<option value="}^WIZWA">WIZWA</option>
<option value="/^동부대우전자">동부대우전자</option>
<option value=",^범한판토스">범한판토스</option>
<option value=".^GPS LOGIX">GPS LOGIX</option>
<option value=":^한의사랑택배">한의사랑택배</option>
</select>
{% endcomment %}
