{% extends "base.html" %}

{% block style %}
<style>
    table, td, th{
        border: 1px solid black;
        white-space:nowrap;
    }
    th{ text-align: center; }
    td{ padding: 5px; }
    ul li { display: inline; }
    select { float: left; }
</style>
{% endblock %}

{% block content %}
    <div id="search">
        <form action="." method="post">
            {{ search_form.as_table }}

            {% csrf_token %}
            <input type="submit" value="Search">
        </form>
    </div>
    <form id="confirm" action="{% block form_action %}{% endblock %}" method="post">
        {# <input type="submit" value="{% block submit_value %}{% endblock %}">#}
        {% block buttons %}{% endblock %}
        {% csrf_token %}
        <table>
            <tr>
                <th style="min-width:30px">선택</th>
                <th>사이트</th>
                <th>몰 ID</th>

                {% block custom_fields_label %}
                {% endblock %}

                <th>구매자ID</th>
                <th>구매자</th>
                <th>전화번호1</th>
                <th>전화번호2</th>

                <th>상품명</th>
                <th>상품번호</th>
                <th>판매가</th>
                <th>입금일/결제일</th>
                <th>카트번호(E)</th>
                <th>배송비 묶음번호(N)</th>

                <th>배송타입</th>
                <th>배송주소</th>
                <th>수취인이름</th>
                <th>수취인전화번호1</th>
                <th>수취인전화번호2</th>
            </tr>
            {% for entry in entries %}
            {% if entry.site__ in "ESM/GMKT/AUC" %}
            <tr class="esm">
                <td><input style="margin: 0 8px 0" type="checkbox" name="orderInfo"
                    value="{{ entry.orderInfo__ }}"></td>
                <td> {{ entry.site__ }}</td>

                {# Because esm is full of typos we need many if statements #}
                <td>
                    {% if entry.SiteID %}{{ entry.SiteID | safe }}
                    {% else %} {{ entry.SiteId | safe }}
                    {% endif %}
                </td>

                {% block custom_fields_esm %}
                {% endblock %}

                <td>
                    {% if entry.BuyerID %}{{ entry.BuyerID }}
                    {% else %} {{ entry.BuyerId }}
                    {% endif %}
                </td>
                <td>{{ entry.BuyerName }}</td>
                <td>
                    {% if entry.BuyerCp %}{{ entry.BuyerCp }}
                    {% else %} {{ entry.BuyerInfoCp }}
                    {% endif %}
                </td>
                <td>
                    {% if entry.BuyerCp %}{{ entry.BuyerHt }}
                    {% else %} {{ entry.BuyerInfoHt }}
                    {% endif %}
                </td>

                <td>{{ entry.GoodsName | safe}}</td>
                <td>{{ entry.GoodsNo }}</td>
                <td>{{ entry.SellPrice }}</td>
                <td>{{ entry.DepositConfirmDate }}</td>
                <td>{{ entry.CartNo }}</td>
                <td> - </td>

                <td>{{ entry.DeliveryFeeType }}</td>
                <td style="min-width:200px">{{ entry.RcverInfoAd | safe}}</td>
                <td> {{ entry.RcverName }}</td>
                <td>{{ entry.RcverInfoCp }}</td>
                <td>{{ entry.RcverInfoHt }}</td>
            </tr>
            {% elif entry.site__ == "STOREFARM" %}
            <tr class="storefarm">
                <td><input style="margin: 0 8px 0" type="checkbox" name="orderInfo"
                    value="-/-/-"></td>
                <td> {{ entry.site__ }}</td>

                {% block custom_fields_storefarm %}
                {% endblock %}

                <td>{{ entry.ORDER_ORDER_MEMBER_ID }}</td>
                <td>{{ entry.ORDER_ORDER_MEMBER_NAME }}</td>
                <td>{{ entry.ORDER_MEMBER_TELEPHONE_NO }}</td>
                <td> - </td>

                <td>{{ entry.OPRODUCT_ORDER_PRODUCT_PRODUCT_NAME | safe}}</td>
                <td>{{ entry.OPRODUCT_ORDER_PRODUCT_PRODUCT_NO }}</td>
                <td>{{ entry.OPRODUCT_ORDER_PRODUCT_UNIT_PRICE }}</td>
                <td>{{ entry.PAY_PAY_YMDT }}</td>
                <td> - </td>
                <td> {{ entry.ORDER_DELIVERY_FEE_BUNDLE_GROUP_SEQ }} </td>

                <td>{{ entry.ORDER_DELIVERY_FEE_CLASS }}</td>
                <td style="min-width:200px">{{ entry.PRODUCT_ORDER_ADDRESS_ADDRESS | safe}}</td>
                <td>{{ entry.PRODUCT_ORDER_ADDRESS_NAME }}</td>
                <td>{{ entry.PRODUCT_ORDER_ADDRESS_TELNO1 }}</td>
                <td>{{ entry.PRODUCT_ORDER_ADDRESS_TELNO2 }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </form>
{% endblock %}
