{% extends "info/info_base.html" %}

{% block title %} 신규주문 조회 {% endblock %}

{% block script %}
<script>
$(function() {
    $('#neworder_confirm').click(function(e){
        e.preventDefault();

        var oinfs = $("input:checked").parents("tr").find("input").serialize();
        var csrf = $("#confirm input[name='csrfmiddlewaretoken']").serialize();

        $.post({
             url: "{% url 'info:neworder_confirm' %}",
             data: oinfs + "&" + csrf,
             success: function(result,status,xhr) {
                 if (result['status'] === "ok"){
                     alert("주문확인 성공"); }
                 else {alert("주문확인 실패 " + result['status']); }
                 location.reload();
             },
        });
    });
});
</script>
{% endblock %}

{% block buttons %}
<input type="submit" id="neworder_confirm" style="cursor:pointer" value="주문확인"></input>
{% endblock %}

{% block custom_fields_label %}
<th style="color:blue">orderInfo</th>
<th style="color:blue">주문번호</th>
{% endblock %}

{% block custom_fields_esm %}
<td>{{ entry.orderInfo__ }}</td>
<td>{{ entry.SiteOrderNo }}</td>    {# different from OrderNo #}
{% endblock %}

{% block custom_fields_storefarm %}
<td> - </td> {# order info #}
<td>{{ entry.PRODUCT_ORDER_ID }}</td>    {# different from OrderNo #}
{% endblock %}

{% block custom_fields_cafe24 %}
<td> - </td> {# order info #}
<td>{{ entry.OrderNo }}</td>
{% endblock %}
