{% extends "info/info_base.html" %}

{% block title %} 반품요청 조회 {% endblock %}

{% block script %}
<script>
    $(function() {
        // Currently, ESM allows only one row to be sellected
        // so we apply the same restriction to the checkboxes
        $('input:checkbox').on('click', function() {
            $('input:checkbox').not(this).prop('checked', false);
        });

        $('#collect').click(function(e){
            e.preventDefault();
            var oinfs = $("input:checked").parents("tr").find("input").serialize();
            var csrf = $("#confirm input[name='csrfmiddlewaretoken']").serialize();
            $.post({
                    url: "{% url 'info:refund_collect_done' %}",
                    data: oinfs + "&" + csrf,
                    success: function(result,status,xhr) {
                        if (result['status'] === "ok"){
                            alert("반품수거 성공\n" + result['msg']); location.reload(); }
                        else {
                            alert("반품수거 실패\n" + result['msg']); location.reload(); }
                    },
            });
        });

        $('#return').click(function(e){
            e.preventDefault();

            var oinfs = $("input:checked").parents("tr").find("input").serialize();
            var csrf = $("#confirm input[name='csrfmiddlewaretoken']").serialize();

            $.post({
                    url: "{% url 'info:refund_confirm' %}",
                    data: oinfs + "&" + csrf,
                    success: function(result,status,xhr) {
                        if (result['status'] === "ok"){
                            alert("반품등록 성공\n" + result['msg']); location.reload(); }
                        else {
                            alert("반품수거 실패\n" + result['msg']); location.reload(); }
                    },
            });
        });
    });
</script>
{% endblock %}

{% block buttons %}
<input type="submit" id="collect" style="cursor:pointer" value="수거완료처리(스토어팜)"></input>
<input type="submit" id="return" style="cursor:pointer" value="반품처리"></input>
{% endblock %}

{% block custom_fields_label %}
<th style="color:blue">주문번호</th>
<th style="color:blue">반품상태</th>
<th style="color:blue">반품신청일</th>
<th style="color:blue">환불액(적립금/예치금)(C)</th>
<th style="color:blue">적립금/예치금/포인트 환불(C)</th>
<th style="color:blue">환불계좌(C)</th>
{% endblock %}

{% block custom_fields_esm %}
<td>{{ entry.OrderNo }}</td>
<td>{{ entry.StatusName }}</td>
<td>{{ entry.ClaimRegDate }}</td>
<td>-</td>
<td>-</td>
<td>-</td>
{% endblock %}

{% block custom_fields_storefarm %}
<td>{{ entry.PRODUCT_ORDER_ID }}</td>    {# different from OrderNo #}
<td>{{ entry.CLAIM_STATUS }}</td>
<td>{{ entry.CLAIM_REQUEST_OPERATION_YMDT_RETURN }}</td>
<td>-</td>
<td>-</td>
<td>-</td>
{% endblock %}

{% block custom_fields_cafe24 %}
<td>{{ entry.OrderNo }}</td>
<td>{{ entry.Status }}</td>
<td>{{ entry.ClaimDate }}</td>
<td>{{ entry.RefundedAmount }}</td>
<td>{{ entry.ReserveAndDepositRefundedAmount }}/{{ entry.PointRefundedAmount }}</td>
<td>{{ entry.RefundBankAccount }}</td>

{{ entry.ActualPrice }}
{% endblock %}
