{% extends "base.html" %}

{% block title %} 반품요청 조회 {% endblock %}

{% block content %}
    <style>
        table, td, th{
            border: 1px solid black;
            white-space:nowrap;
        }
        th{ text-align: center; }
        td{ padding: 5px; }
        ul li { display: inline; }
    </style>
    <div id="search">
        <form action="." method="post">
            {{ search_form.as_p }}

            {% csrf_token %}
            <input type="submit" value="Search">
        </form>
    </div>
    <script>
    $(function() {
        // Currently, ESM allows only one row to be sellected
        // so we apply the same restriction to the checkboxes
        $('input:checkbox').on('click', function() {
            $('input:checkbox').not(this).prop('checked', false);
        });

        $('#confirm').on('submit', function(e){
            e.preventDefault();

            var oinfs = $("input:checked").parents("tr").find("input").serialize();
            var csrf = $("#confirm input[name='csrfmiddlewaretoken']").serialize();

            $.post({
                    url: "{% url 'info:toreturn_confirm' %}",
                    data: oinfs + "&" + csrf,
                    success: function(result,status,xhr) {
                        if (result['status'] === "ok"){ alert("배송등록 성공"); location.reload(); }
                        else { alert(result['msg']); location.reload(); }
                    },
            });
        });
    });
    </script>
    <form id="confirm" action="" method="post">
        <input type="submit" value="반품처리">
        {% csrf_token %}
        <table>
            <tr>
                <th style="min-width:30px">선택</th>
                <th>사이트</th>
                <th>ID</th>

                <th>주문번호</th>
                <th>반품상태</th>
                <th>반품신청일</th>

                <th>CP</th>
                <th>HT</th>
                <th>구매자ID</th>
                <th>구매자</th>

                <th>상품명</th>
                <th>상품번호</th>
                <th>카트번호</th>
                <th>판매가</th>
                <th>입금일</th>

                <th>배송타입</th>
                {# <th>배송주소</th>#}
                <th>수취인CP</th>
                <th>수취인HT</th>
            </tr>
            {% for entry in entries %}
            <tr>
                <td><input style="margin: 0 8px 0" type="checkbox" name="orderInfo"
                    value="{{ entry.site__ }}/{{ entry.SellerId }}/{{ entry.OrderNo }},{{ entry.SiteIdValue }},{{ entry.SellerCustNo }},{{ entry.ReturnInvoiceNo }},{% if entry.ReturnDeliveryComp %}{{ entry.ReturnDeliveryComp }}{% else %}{% endif %}"></td>
                <td> {{ entry.site__ }}</td>
                <td>{{ entry.SellerId }}</td>

                <td>{{ entry.OrderNo }}</td>
                <td>{{ entry.StatusName }}</td>
                <td>{{ entry.ClaimRegDate }}</td>

                <td>{{ entry.BuyerInfoCp }}</td>
                <td>{{ entry.BuyerInfoHt }}</td>
                <td>{{ entry.BuyerId }}</td>
                <td>{{ entry.BuyerName }}</td>

                <td>{{ entry.GoodsName | safe}}</td>
                <td>{{ entry.GoodsNo }}</td>
                <td>{{ entry.CartNo }}</td>
                <td>{{ entry.SellPrice }}</td>
                <td>{{ entry.DepositConfirmDate }}</td>

                <td>{{ entry.DeliveryFeeType }}</td>
                {# <td style="min-width:200px">{{ entry.RcverInfoAd | safe}}</td>#}
                <td>{{ entry.RcverInfoCp }}</td>
                <td>{{ entry.RcverInfoHt }}</td>
            </tr>
            {% endfor %}
        </table>
    </form>

{% endblock %}
