{% extends "base.html" %}

{% block title %}대시보드{% endblock %}

{% block content %}
    <h1>{{ request.user.username }} 대시보드</h1>

    <a href="{% url 'info:neworder' %}"> <h2>신규주문</h2> </a>
    <a href="{% url 'info:todeliver' %}"> <h2>발송대기</h2> </a>
    <a href="{% url 'info:sending' %}"> <h2>배송중</h2> </a>
    <a href="{% url 'info:tocancel' %}"> <h2>취소대기</h2> </a>
    <a href="{% url 'info:toreturn' %}"> <h2>반품대기</h2> </a>
    <a href="{% url 'info:toexchange' %}"> <h2>교환대기</h2> </a>
    ================================================++++++++++
    <h2>몰 계정 정보</h2>
    <div>
    {% for account in accounts %}
        <div style="width: 200px; float:left">
            site: {{ account.site }} <br>
            ID: {{ account.userid }} <br>
            PW: {{ account.password }}
        </div>
    {% endfor %}
    </div>
    <div style="clear: both">
    </div>
{% endblock %}
